.vs/Contatos/FileContentIndex/
.vs/
*.suo
*.user
*.userprefs
*.vscode/
*.vssscc
*_i.c
*_p.c
*.pidb
*.log
*.tlog/
*.cache/
*.sln.docstates
*.exe
*.dll
*.pdb
*.dll.config
[Bb]in/
[Oo]bj/
[Tt]emp/
[Oo]bj/

