@model LoginModel;

@{
    Layout = "_Layout _Deslog";
    ViewData["Title"] = "Login";
}
   @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }



<form asp-controller="Login" asp-action="Entrar" method="post">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input type="text" asp-for ="Login"  class="form-control" id="login">
    @Html.ValidationMessageFor(x => x.Login)
  </div>

  <div class="mb-3">
    <label for="Senha" class="form-label">Senha</label>
    <input type="password" asp-for="Senha"  class="form-control" id="Senha">
    @Html.ValidationMessageFor(x => x.Senha)
  </div>




  <button type="submit" class="btn btn-primary w-100">Entrar</button>

</form>