@model UsuarioModel;
@{
    ViewData["Title"] = "Confirmação de Exclusão de usuario";
    ViewData["Title"] = "Excluir Usuario";
}

<div class="text-center">
  

<h1 class="display-4">Excluir Usuario</h1>
<h3>Realmente deseja excluir esse Usuário (@Model.Nome)</h3>

</div>

<a  class="btn btn-primary w-100" asp-controller="Usuario" asp-action="Index">Cancelar</a>
<a  class="btn btn-danger w-100" asp-controller="Usuario" asp-route-id ="@Model.Id" asp-action="Apagar">Confirmar Exclusão</a>

