@{
    Layout = "_Layout _Deslog";
    ViewData["Title"] = "Página Restrita";
}

<p>Usuário não tem permissão para acessar essa Pagina!, <a asp-controller="Home" asp-action="Index">Clique aqui para voltar.</a></p>