@model ContatoModel;
    
@{
    ViewData["Title"] = "Editar Contatos";
}

<div class="text-center">

<h1 class="display-4">Editar Contato</h1>

</div>


<form asp-controller="Contato" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id"/>

<div class = "form-group">
    <label for="nome">Nome</label>
    <input type ="text" asp-for ="Nome" class="form-control" placeholder="Digite o nome" />
     @Html.ValidationMessageFor(x => x.Nome)

  </div>

    <div class="form-group">
    <label form="email">Email</label>
    <input type ="email" asp-for ="Email" class="form-control" placeholder="Digite o email" />
     @Html.ValidationMessageFor(x => x.Email)

  </div>

    <div class="form-group">
    <label form="Telefone">Telefone</label>
     <input type ="tel" asp-for ="Telefone"  class="form-control" placeholder="Digite o telefone" />
      @Html.ValidationMessageFor(x => x.Telefone)
  </div>
 


<button type ="submit" class="btn btn-primary w-100">Editar</button>
<a type ="submit" class="btn btn-secondary w-100" asp-controle ="Contato" asp-action="Index" role="button">Voltar</a>

  
</form>