@{
    ViewData["Title"] = "Lista de Contatos";
}
<div class="text-center">

<h1 class="display-4">Lista de Contatos</h1>



<div>
    <a class="btn btn-primary" role ="button">Adicionar novo Contato</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto@gmail.com</td>
      <td>1785479855</td>
      <td>
          <div class="btn-group" role="group" aria-label="Basic example">
             <a role="button"   class="btn btn-primary">Editar</a> 
             <a role="button"   class="btn btn-danger">Excluir</a>
            
            </div>

      </td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton@gmail.com</td>
      <td>7845112547</td>
           <td>
          <div class="btn-group" role="group" aria-label="Basic example">
         <a role="button"   class="btn btn-primary">Editar</a> 
         <a role="button"   class="btn btn-danger">Excluir</a>
        
             </div>

      </td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Larry gmail.com</td>
      <td>1578448775</td>
           <td>
          <div class="btn-group" role="group" aria-label="Basic example">
         <a role="button"   class="btn btn-primary">Editar</a> 
         <a role="button"   class="btn btn-danger">Excluir</a>
             </td>


    </tr>
  </tbody>
</table>
</div>